/* Base styles */
body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    flex-direction: column; /* Arrange items in a column */
}

.ascii-art {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    color: #000000; /* Light theme color */
}

/* Light theme styles */
body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

body.light-theme header {
    background-color: #f0f0f0;
    color: #000000;
}

body.light-theme button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Dark theme styles */
body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-theme header {
    background-color: #1f1f1f;
    color: #e0e0e0;
}

body.dark-theme button {
    background-color: #e0e0e0;
    color: #121212;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

body.dark-theme .ascii-art {
    color: #e0e0e0; /* Dark theme color */
}